@import '../../../style/colors.scss';
@import '../../../style/window-component.scss';

app-title-page {
    width: 100%;
    height: 5%;
}
app-cards {
    width: 100%;
    height: 25%;
}

app-table {
    width: 100%;
    height: 70%;
}
