$primary: #0B98AC;
$body: #f4f7fa;
$white: #fff;
$black: #000;
$sidenav_link: #f3f3f3;
$color_window: #f4f7fa;
$color_placeholder: #8d8d8d;
$clear_gray: #dfdfdf;
$color_avatar: #c6c6c6;
$color_initials_avatar: #0B98AC;;
$color_table: #dfdfdf;
$status_online: #18e229;