@import '../style/colors.scss';

.success-snackbar {
    margin-top: 10% !important;
    transform: scale(1) !important;
    --mdc-snackbar-container-color: #dcf3d6 !important;
    --mdc-snackbar-container-shape: 1rem !important;

    .mdc-snackbar__surface {
        border: 0.1rem solid #c7e0be !important;
    }
}



.error-snackbar {
    margin-top: 10% !important;
    transform: scale(1) !important;
    --mdc-snackbar-container-color: #eec8c5 !important;
    --mdc-snackbar-container-shape: 1rem !important;

    .mdc-snackbar__surface {
        border: 0.1rem solid #c89296 !important;
    }
}

.warning-snackbar {
    margin-top: 10% !important;
    transform: scale(1) !important;
    --mdc-snackbar-container-color: #f8f4c4 !important;
    --mdc-snackbar-container-shape: 1rem !important;

    .mdc-snackbar__surface {
        border: 0.1rem solid #e9e5a7 !important;
    }
}

