@import '../style/colors.scss';

.body-container {
    display: flex;
    flex-direction: column;
    background-color: $white;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
}